@keyframes dissolve {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

@keyframes pulsate {
    to {
        transform: scale(1.01);
    }
}

@keyframes pulsate_mobile {
    to {
        transform: scale(1.02);
    }
}