body {
    font-family: Source Sans Pro, serif;
}

footer {
    background-color: #464547;
    color: white;
}

footer img {
    width: 20px;
    height: 20px;
}

footer span {
    font-family: Source Sans Pro, serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 21px;
}

footer address {
    font-family: Source Sans Pro, serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 50px;
    }
    .container div, .container address {
        text-align: center;
    }
    .container address {
        padding: 30px 0 19px;
    }
}

@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 150px 2fr;
        gap: 80px;
        padding: 40px 140px 70px 140px;
    }
    .container div:last-child {
        align-self: flex-end;
        text-align: end;
    }
}

.container {
    color: rgba(255, 255, 255, 0.4);
}

.container address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container address a {
    display: block;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 15px;
}

.container address {
    align-self: start;
}