@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald/static/Oswald-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format('truetype');
}
.hero__wrapper {
    background-image: url("../assets/hero_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}

.hero__stars-animation-wrapper {
    background-image: url("../assets/stars_on_background_photoshopped.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
    animation: dissolve 2s infinite;
    animation-direction: alternate;
}

.hero__white-points-animation-wrapper {
    background-image: url("../assets/white_points_photoshopped.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 2;
    transform-origin: 200% -10%;
    animation: pulsate ease-in-out 2s infinite;
    animation-direction: alternate;
}

.hero__top-content {
    z-index: 3;
    position: relative;
}

.navigation_bar {
    display: flex;
}

.navigation_bar a {
    color: white;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.submenu li:hover {
    border-bottom: 1px solid white;
}

.submenu {
    display: flex;
}

.submenu li {
    margin-right: 16px;
    margin-left: 16px;
    font-family: Source Sans Pro, serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    padding-bottom: 3px;
}

.mobile-menu {
    color: white;
}

.hero-internal {
    width: 100%;
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5%;
    padding-top: 274px;
}

.hero img {
    width: 63px;
    height: 63px;
    transition-duration: 1s;
}

.logo_wrapper:hover img{
    transform: scaleX(-1) scale(1.3);
}

.hero h1 {
    font-family: Oswald, serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 15px;
}

.hero p {
    font-family: Source Sans Pro, serif;
    font-size: 24px;
    text-align: center;
    opacity: 70%;
    margin-bottom: 240px;
}

.main {
    text-align: center;
    background-color: #EEEEEE;
    padding: 5%;
}

.main h2 {
    font-family: Oswald, serif;
    font-size: 48px;
    font-weight: bold;
    color: #464547;
    margin-top: 0;
    margin-bottom: 40px;
}

.main h3 {
    color: #666666;
    margin-bottom: 50px;
}

.main p {
    font-family: Source Sans Pro, serif;
    font-size: 16px;
    color: #666666;
}

.main_container {
    display: grid;
}

.main .subtitle {
    font-family: Source Sans Pro, serif;
    font-size: 24px;
    color: #666666;
    line-height: 32px;
    margin-bottom: 48px;
}

.main_container p {
    text-align: start;

}

.main button {
    border-radius: 18px;
    width: 115px;
    height: 36px;
    background-color: #55C2D8;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: Oswald, serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    /*margin-top: 40px;*/
    /*margin-bottom: 140px;*/
    transition-duration: 1s;
    transform-origin: left;
}

.read_more_button_wrapper {
    margin-bottom: 140px;
    margin-top: 40px;
}

.read_more_button_wrapper:hover button {
    transform: rotate(15deg);
}

.learn_more {
    background-image: url("../assets/learn_more_background.png");
    max-height: 666px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    padding: 5%;
    background-size: cover;
}

.learn_more h3 {
    font-family: Oswald, serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 53px;
    font-style: normal;
    letter-spacing: 0.01em;
    line-height: 64px;
    font-weight: 700;
}

.learn_more button {
    background-color: #39C2D7;
    border-radius: 50%;
    border: none;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    flex-shrink: 0;
    transition-duration: 1s;
    color: white;
}

.learn_more svg path {
    fill: currentColor;
}

.play_button_wrapper:hover button {
    transform: scale(0.8);
    background-color: white;
    color: #39C2D7;
}

.learn_more p {
    font-family: Source Sans Pro, serif;
    font-size: 24px;
    text-align: center;
}
