@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald/static/Oswald-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format('truetype');
}
